/* Below line is write to use Google font online */
@import "https://fonts.googleapis.com/css?family=Ubuntu";
div#main{
width:830px;
height:650px;
margin:0 auto;
font-family:'Ubuntu',sans-serif
}


body { 
  counter-reset: myCounter; 
} 

label::before { 
  counter-increment: myCounter; 
  content: counter(myCounter) ". "; 
}

div#root{
text-align:left;
width:-webkit-fill-available;
padding:10px 50px 15px;
float:left
}
#main h1{
margin-top:40px
}
hr{
margin-top:-5px
}
label{
float:left;
font-size:16px
}
input[type="text"]{
width:100%;
margin-top:5px;
height:15px;
margin-bottom:5px;
padding:10px;
}
input:focus {
    border-color: blue
}
textarea{
width:100%;
border:3px solid #2BC1F2;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize:none
}
input[type="submit"]{
width:40%;
padding:10px 45px;
background-color:#2BC1F2;
border:none;
color:#fff;
font-size:18px;
font-weight:700;
cursor:pointer;
margin-left: 5%;
margin-right: 5%;
font-family:'Ubuntu',sans-serif
}


/* -------------------------------------
CSS for Creation View 
---------------------------------------- */

.baseQuestion { 
  background : #DCDCDC;
  border-radius: 5px;
  padding :10px;
  width :100%;
  border :none;
  margin : 10px 0 10px 0;
}

.inputElement{
  width: 88% !important; 
  margin : 0px 0 10px 3%;
  border : none;
  background : white;
  border-radius: 3px;
}

.addQuestionTitleInputElement{
  width : 88% !important; 
  margin : 0 0 0 1%;
  border : none;
  border-radius: 3px;
  font-weight:bold;
}

.selectTemplateDropDown{
  border : none;
  background : #DCDCDC;
  padding : 5px;
  border-radius :5px;
}

.surveyTitle{

  border : none;
  background : #DCDCDC;
  font-weight: bold;
  border-radius :5px;
}

.questionTypeList{
  width:15px;
  height:21px;
  background:#6264a7;
  color:white;
  border:none;
  outline:none;
  box-shadow: none;
}

.addQuestionButton{
  float :left; 
  background :#6264a7;
  color :white;
  border :none;
  height :21px;
  margin-right:1px;
  outline:none;
  box-shadow :none;
}

.submitButton{
  float :right;
  background :#6264a7;
  color :white;
  border :none;
  height :21px;
  outline :none;
  box-shadow :none;
}

.addChoiceButton{
  margin-left :25px;
  float :left; 
  background : rgb(220, 220, 220);
  color :#6264a7;
  border :none;
  height :21px;
  outline :none;
  box-shadow :none;
}

.addChoiceInput {
  width :90% !important;
  border :none;
  border-radius :3px;
}

/* -------------------------------------
CSS for Response View 
---------------------------------------- */
.responseInputElement{
  width :93%;
  margin :10px 0 10px 3%;
  border :none;
  background :white;
  border-radius :3px;
}

/* -------------------------------------
CSS for Summary View 
---------------------------------------- */
div#fugo{
float:right
}

.meter { 
    height: 10px;  /* Can be anything */
    position: relative;
    /*margin: 60px 0 20px 0;  Just for demo spacing */
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    /*padding: 10px;*/
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
    display: block;
    height: 100%;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    -webkit-box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  height: 10px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 0;
  /*width: 100%;*/
}
progress[value]::-webkit-progress-value {
  background-color: rgb(207, 207, 15);
  height: 10px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  overflow: hidden;
  /*width: 100%;*/
  border:0;
}
progress::-moz-progress-bar {
  border: 0;
  height: 10px;
  border-radius: 25px;
  width: 100%;
}
.percentage {
  float: right;
  color: white;
  margin: 5px 5px 0 0;
  font-size: 12px;
}
.button_as_link{
  border: none;
  background: none;
  outline: none;
  height: 13px;
  font-size: 13px;
  font-weight: "bold"; 
  color:#6264a7;
}
.button_as_string{
  border: none;
  background: none;
  outline: none;
}
.tabs{
  display:flex;
  flex-direction: row;
  width:100%;
}
.tabs__horizonal{
  width: 100%;
  background: #cccccc;
}
.tabs__button{
  display: block;
  padding: 10px;
  border:  none;
  width: 100%;
  outline: none;
  cursor: pointer;
}
.tabs__button:active{
  background: #6264a7;
  width: 100%;
}
.tabs__button--active{
  width: 100%;
  background: #6264a7;
}
.tabs__content{
  padding: 15px;
  font-size: 0.8rem;
  display: none;
  height: 300px;
  overflow-y:auto;
  border-bottom: 1px solid dimgrey;
  border-top: 1px solid dimgrey;
}
.tabs__content--active{
  display: block;
  height: 300px;
}
.vertical-divider {
  width: 1px;
  height: 20px;
  background-color: dimgray;
}
h4 {
  font-weight: bold;
  font-size: medium;
}
.Page{
  display: none;
}
.MainPage{
  display: block;
}
.ResponseViewPage{
  display: none;
}
.ResponsePerUserViewPage{
    display: none;
}
.goback{
  height: "30px";
  bottom: "30px";
  position: fixed;
  background-color: #6264a7;
}
.responseperquestion{
    font-family: monospace;
    border-bottom: dotted;
    margin-bottom: 15px;
    margin-left : 15px;
}
.responseperquestion:last-of-type{
    margin-bottom:0;
    border-bottom: none;
    margin-left : 15px;
 }
.TitleDiv{
    font-weight: bold;
    border-bottom: 1px solid dimgrey;
    margin-bottom: 15px;
    margin-top: 10px;
}
.responseRow{   
  height: 350px;
  overflow-y: auto;
  top: 20px;
  border-bottom: 1px solid dimgrey;
  border-top: 1px solid dimgrey;
}