    @charset "utf-8";
    /* CSS Document */
    
    body {
        background-color: #ffffff !important;
    }
    
    * {
        margin: 0px;
        padding: 0px;
    }
    
    .header {
        position: fixed;
        background-color: #fff;
        padding: 5px 15px;
        width: 100%;
        left: 0px;
        top: 0px;
        box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.1);
    }
    
    .header h1 {
        float: left;
        font-size: 14px;
    }
    
    .header img {
        float: left;
        margin-top: 8px;
        margin-right: 25px;
    }
    
    .header small {
        font-weight: 300;
    }
    
    .header .link {
        color: #0592f7;
        float: right;
        text-decoration: none;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    .container {}
    
    .form-group {
        margin-bottom: 15px;
    }
    
    .card {
        background-color: #fff;
        padding: 15px !important;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        margin-bottom: 15px;
        position: relative;
        overflow: hidden;
    }
    
    .card::before {
        content: '';
        background-color: #6264a7;
        width: 30px;
        height: 30px;
        transform: rotate(45deg);
        left: -15px;
        top: -15px;
        position: absolute;
    }
    
    .button {
        background-color: #0591ff;
        color: #fff;
        padding: 15px;
        border: none;
        width: 100%;
        border-radius: 2px;
    }
    
    .choice-group {
        display: flex;
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .choice-group li {
        width: auto;
        display: contents;
    }
    
    .remove {
        width: 50px;
        background-color: transparent;
        border: 1px solid #ddd;
    }
    
    .add-more {
        width: 100%;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 2px;
    }
    
    .close {
        float: right;
        text-decoration: none;
        color: #000;
    }
    
    .card h2 {
        font-size: 12px;
    }
    
    form {
        width: 100%;
    }
    
    .teams-link {
        color: #6264a7;
        border: none;
        background-color: transparent;
        font-weight: 400;
    }
    
    .teams-link:hover {
        color: #6264a7;
    }
    
    .font-sm {
        font-size: 13px;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #6264a7 !important;
        border-color: #6264a7 !important;
    }
    
    .btn-primary:hover {
        color: #fff;
        background-color: #4e508a !important;
        border-color: #4e508a !important;
    }
    
    .btn-primary:focus {
        color: #fff;
        background-color: #4e508a !important;
        border-color: #4e508a !important;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) !important;
    }
    
    .btn-primary-outline {
        color: #4e508a !important;
        background-color: transparent !important;
        border-color: #6264a7 !important;
    }
    
    .btn-primary-outline:hover {
        color: #4e508a !important;
        background-color: transparent !important;
        border-color: #4e508a !important;
    }
    
    .btn-primary-outline:focus {
        color: #4e508a !important;
        background-color: transparent !important;
        border-color: #4e508a !important;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .5) !important;
    }
    
    .form-group {
        margin-bottom: 10px !important;
    }
    
    .date-color {
        color: #4e508a;
    }
    
    .bg-primary {
        background-color: #4e508a !important;
    }
    
    label {
        display: inline-block;
        margin-bottom: 8px !important;
    }
    
    .project-tab {
        padding: 10%;
        margin-top: -8%;
    }
    
    .project-tab #tabs {
        background: #007b5e;
        color: #eee;
    }
    
    .project-tab #tabs h6.section-title {
        color: #eee;
    }
    
    .project-tab .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        color: #0062cc;
    }
    
    .project-tab .nav-link:hover {
        border: none;
    }
    
    .project-tab thead {
        background: #f3f3f3;
        color: #333;
    }
    
    .project-tab a {
        text-decoration: none;
        color: #333;
        font-weight: 600;
    }
    
    .hide {
        display: none;
    }
    
    .getresult {
        cursor: pointer;
        font-size: 12px;
    }
    
    .getresult span {
        color: #4e508a;
        text-decoration: underline;
    }
    
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #4e508a !important;
        background-color: transparent !important;
        border-color: transparent !important;
    }
    
    .project-tab #tabs .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: #0062cc;
        background-color: transparent;
        border-color: transparent transparent #f3f3f3;
        border-bottom: 2px #4e508a solid !important;
    }
    
    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-color: transparent;
    }
    
    .nav-fill .nav-item {
        font-weight: 600;
    }
    /* new style */
    
    a {
        color: #333 !important
    }
    
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        font-weight: 600;
    }
    
    .table td,
    .table th {
        font-size: 13px;
    }
    
    .btn {
        font-size: 1rem !important;
        padding: .25rem 1.5rem;
    }
    
    .alert {
        position: relative;
        padding: .2rem 1.8rem 0.2rem .5rem !important;
    }
    
    .alert-danger {
        color: #333 !important;
        background-color: #f8d7da !important;
        border-color: #efa5ad !important;
    }
    
    .alert-danger i {
        color: #efa5ad !important;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    
    .alert-success {
        color: #333 !important;
        background-color: #d4edda !important;
        border-color: #8eca9b !important;
    }
    
    .alert-success i {
        color: #8eca9b !important;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    
    .mb0 {
        margin-bottom: 0px !important;
    }
    
    .h4,
    h4 {
        font-size: 1.3rem !important;
        font-weight: 600;
    }
    
    b,
    strong {
        font-weight: 600 !important;
    }
    
    .btn.close {
        font-size: 1rem !important;
    }
    
    body {
        font-weight: 300;
        font-size: 13px;
    }
    
    .app-black-color {
        color: #252423;
    }
    
    .app-black-bg {
        background-color: #252423;
    }
    
    .app-gray-02-color {
        color: #484644;
    }
    
    .app-gray-02-bg {
        background-color: #484644;
    }
    
    .modal-title {
        font-size: 18px;
        font-weight: 500;
    }
    
    .modal-body {
        font-size: 14px;
    }
    
    .modal-content {
        border: none;
        border-radius: 0px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }
    
    .modal-header {
        border-bottom: none;
    }
    
    .modal-footer {
        border-top: none;
    }
    
    .modal-backdrop {
        background-color: #ffffff;
    }
    
    .in-t {
        background-color: rgb(243, 242, 241) !important;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 2px solid rgb(243, 242, 241) !important;
        transition: all ease-in-out 0.3s;
        font-size: 13px;
    }
    
    .in-t:focus {
        box-shadow: none !important;
        border-bottom: 2px solid rgb(98, 100, 167) !important;
        transition: all ease-in-out 0.3s;
    }
    
    .input-lg {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        height: calc(1.8em + .75rem + 2px);
        padding: .9rem .75rem;
    }
    
    .card-box {
        border: 1px solid #edebe9;
        margin-bottom: 16px;
        padding: 16px;
        background-color: #f9f9f9;
        position: relative;
    }
    
    .card-box-alert {
        border: 1px solid #edebe9;
        margin-bottom: 16px;
        padding: 16px;
        background-color: #fce2e5;
        position: relative;
    }
    
    .card-box-alert .text-danger {
        color: #c4314b;
    }
    
    .input-tpt {
        background-color: transparent !important;
        border: none !important;
    }
    
    .pl-0 {
        padding-left: 0px;
    }
    
    .strong {
        font-weight: bold;
    }
    
    .input-group-tpt .in-t {
        background-color: rgb(243, 242, 241) !important;
        border-radius: 0px !important;
        border: none !important;
        border-bottom: 2px solid rgb(243, 242, 241) !important;
        transition: all ease-in-out 0.3s;
        font-size: 13px;
    }
    
    .leabel-alert {
        color: #c4314b;
        text-align: right;
    }
    
    .input-group-tpt .in-t:focus {
        box-shadow: none !important;
        border-bottom: 2px solid rgb(98, 100, 167) !important;
        transition: all ease-in-out 0.3s;
    }
    
    .in-t.danger {
        border-bottom: 2px solid #c4314b !important;
    }
    
    .in-t.danger:focus {
        border-bottom: 2px solid #c4314b !important;
    }
    
    .input-group-tpt {
        display: block;
    }
    
    .input-group-tpt .in-t {
        width: 100%;
        padding-right: 30px;
    }
    
    .input-group-tpt .input-group-append {
        margin-left: -1px;
        position: absolute;
        right: 0px;
        top: 4px;
        z-index: 99;
    }
    
    .ext-flex {
        width: 10%;
    }
    
    .d-flex .form-group {
        width: 100%;
    }
    
    .ha {
        fill: rgb(98, 100, 167);
    }
    
    .gv {
        transform: rotate(0deg);
    }
    
    .gt {
        height: .9rem;
    }
    
    .gs {
        width: .9rem;
    }
    
    .gu {
        fill: currentcolor;
    }
    
    .wh {
        fill: #ffffff;
    }
    
    .h-32 {
        height: 32px;
    }
    
    .btn svg {
        margin-top: -3px;
    }
    
    .footer {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: #ffffff;
    }
    
    .bt {
        border-top: 1px solid #ddd;
    }
    
    .ki {
        transform: rotate(90deg);
    }
    
    .footer-padd {
        padding: 1rem 0px;
    }
    
    .theme-color {
        color: rgb(98, 100, 167);
    }
    
    a.theme-color {
        color: rgb(98, 100, 167) !important;
    }
    
    a.theme-color:hover {
        color: rgb(98, 100, 167) !important;
        text-decoration: none;
    }
    
    .cursur-pointer {
        cursor: pointer;
    }
    
    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        border-color: rgb(98, 100, 167);
        background-color: rgb(98, 100, 167)
    }